name: Deploy Multi docker app to beanstalk
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t epamaliaksandryazerski/multi-client ./client
      - run: docker build -t epamaliaksandryazerski/multi-nginx ./nginx
      - run: docker build -t epamaliaksandryazerski/multi-server ./server
      - run: docker build -t epamaliaksandryazerski/multi-worker ./worker

      - run: docker push epamaliaksandryazerski/multi-client
      - run: docker push epamaliaksandryazerski/multi-nginx
      - run: docker push epamaliaksandryazerski/multi-server
      - run: docker push epamaliaksandryazerski/multi-worker

      - name: Generate deployment package
        run: zip -r deploy.zip ./docker-compose.yml

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: multi-docker
          environment_name: MultiDocker-env
          existing_bucket_name: elasticbeanstalk-eu-central-1-514508452903
          region: eu-central-1
          version_label: ${{ github.sha }}
          deployment_package: deploy.zip
          use_existing_version_if_available: true
          wait_for_environment_recovery: 300
          wait_for_deployment: false
